<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

  <title>Profile</title>
</head>
<body>

<div id="contents" class="container">
  <div class="row">
    <div class="col-sm-4">
      <profile-photo v-bind:image="profile.photo"></profile-photo>
      <timeline v-bind:profile="profile"></timeline>
    </div>
    <div class="col-sm-8">
      <profile-card v-bind:profile="profile" v-bind:key="profile.id"></profile-card>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>

<script type="text/babel">

  Vue.component('profile-card', {
    props: ['profile'],
    template: `
      <div>
        <h1> {{ profile.firstName + " " + profile.lastName }}</h1>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-muted">My Work Experience</h4>
            <p class="card-text">
              {{ profile.experience }}
            </p>
          </div>
        </div>
      </div>
    `
  });

  Vue.component('profile-photo', {
    props: ['image'],
    template: `
      <div>
        <img v-bind:src="image" class="img-fluid" alt="Profile Photo">
      </div>
    `
  });

  Vue.component('timeline', {
    props: ['profile'],
    template: `
      <div>
        <div class="card">
          <div class="card-header">
            <h4>{{ profile.firstName }} Timeline</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <timeline-item v-for="item in profile.timeline" :key="item.id"
                             v-bind:item="item" v-bind:key="item.id">
              </timeline-item>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#">Go to Account ></a>
          </div>
        </div>
      </div>
    `
  });

  Vue.component('timeline-item', {
    props: ['item'],
    template: `
      <li class="media my-4">
        <img v-bind:src="item.photo" class="mr-3">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{ item.name }}</h5>
          {{ item.description }}
        </div>
      </li>
    `
  });

  var app = new Vue({
    el: '#contents',
    data: {
      profile: {
        id: 1,
        photo: "images/user-empty.png",
        firstName: "Jhon",
        lastName: "Snow",
        experience: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at elementum purus. Aenean id ex sit amet enim mollis egestas. Curabitur vitae risus vel tellus vulputate commodo at congue diam. Duis tincidunt ante eget mi ullamcorper pulvinar eget a nisl. Vestibulum vehicula mollis consectetur. Vivamus non efficitur arcu. Aenean placerat nisl sapien, placerat malesuada velit vulputate vitae. Maecenas elit erat, fringilla sed nibh a, interdum aliquam nunc. Aliquam iaculis elit non elit euismod volutpat. Nunc sapien odio, aliquet vitae feugiat eget, facilisis vel tellus. Aenean risus risus, ultrices at tellus interdum, volutpat faucibus risus. Aenean vel sollicitudin lacus. Nullam id dignissim ex, bibendum consequat diam. Maecenas porta ac quam a lacinia. "
            + "Vestibulum tempus purus arcu, eu gravida mi maximus id. In hac habitasse platea dictumst. Ut non euismod elit, facilisis fringilla enim. Aenean faucibus dictum accumsan. Quisque gravida hendrerit massa quis lobortis. Donec eleifend, mauris non sagittis tristique, erat mauris maximus leo, quis tempus sapien risus ac diam. Aliquam fermentum felis neque, dapibus feugiat dui lobortis nec. Cras metus leo, aliquam eget venenatis vitae, interdum non enim. Vivamus sed nisi lobortis, suscipit libero at, volutpat massa. Vestibulum vulputate a sapien quis convallis. Phasellus convallis dolor a mauris porta, maximus dignissim urna cursus. Maecenas varius tristique urna, at rhoncus ligula. Nunc et nisl lorem. Nulla facilisi. Integer blandit ligula sagittis, laoreet nulla quis, lacinia erat.",
        timeline: [
          {
            id: "1",
            photo: "images/user-empty.png",
            name: "Lionel Messi",
            description: "Argentina's superstar"
          },
          {
            id: "2",
            photo: "images/user-empty.png",
            name: "Christiano Ronaldo",
            description: "World #1-ranked player from Portugal"
          }
        ]
      }
    }
  });
</script>

</body>
</html>